# Local backend
PORT=5000
FRONTEND_URL=http://localhost:5173
ADMIN_KEY=admin123

# Local MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Arvish@1998
DB_NAME=shelke_store

# Razorpay
RAZORPAY_KEY_ID=rzp_test_SknBkvw7NxAjJH
RAZORPAY_KEY_SECRET=OPZH6GcgemRds4wDJ6AjPXV3

